.Dropdown {
    width: 200px;
    background-color: red;
    position: relative;
}

.Dropdown > .trig {
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #e1e1e1;
}

.Dropdown > .trig:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

.Dropdown > .trig:active {
    background-color: #f9f9f9;
}

.Dropdown > .list {
    border: 1px solid #e1e1e1;
    position: absolute;
    left: 0px;
    top: 100%;
    min-width: 100%;
    box-sizing: border-box;
}

.Dropdown > .list > div {
    padding: 10px;
    border-bottom: 1px solid #e1e1e1;
    background-color: #f9f9f9;
}

.Dropdown > .list > div:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

.Dropdown > .list > div:active {
    background-color: #f9f9f9;
}