html, body, #root, .App {
    height: 100%;
}

body {
    margin: 0;
}

body, button, input, textarea {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

a.active {
    color: #1f75cb;
}

/* .Grid  */
.Grid {
    display: grid;
    height: 100%;
}

.Grid > * {
    padding: 10px;
}

.Grid.main {
    grid-template-rows: 60px 1fr;
}

.Grid.main > :nth-child(1) {
    background-color: #333;
    color: #fff;
}

.Grid.main > :nth-child(2) {
    background-color: #f1f1f1;
}


.Grid.side {
    grid-template-columns: 200px 1fr;
}

.Grid.side > :nth-child(1) {
    background-color: #e1e1e1;
    color: #333
}

.Grid.side > :nth-child(2) {
    background-color: #fff;
    color: #333
}


/* .Line */


.Line.between {
    justify-content: space-between;
}